In [1]:
mystring ='hello'

In [7]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [27]:
mylist = [ letter for letter in mystring]
#simplified version of 

#mylist = []
#for letter in mystring:
    #mylist.append(letter)

In [10]:
mylist

['h', 'e', 'l', 'l', 'o']

In [16]:
mylist=[ ert for ert in'worrty']

In [17]:
mylist

['w', 'o', 'r', 'r', 't', 'y']

In [22]:
mylist=[num**2 for num in range(0,11) ]
#simplified version
#mylist=[]
#for num in range(0,11):
#   mylist.append(num**2)

In [23]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
mylist=[]
for num in range(0,11):
   mylist.append(num**2)

In [30]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
mylist= [x**2 for x in range(0,11) if x%2==0 ]

In [34]:
mylist

[0, 4, 16, 36, 64, 100]

In [35]:
#for loop in list comprehensions
celcius=[0,100,20,34.5]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [36]:
fahrenheit

[32.0, 212.0, 68.0, 94.1]

In [39]:
#or
fahrenheit=[]
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [40]:
fahrenheit

[32.0, 212.0, 68.0, 94.1]

In [45]:
#if and else statement in list comprehesions
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [46]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [47]:
#nested loops in list comprehensions

In [48]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [49]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [1]:
mylist=[x*y for y in [100,200,300] for x in [2,4,6]]
#nested list comprehensions

In [51]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]